<p> Login success {{username}}</p>

<p><a href="/account/order-history">View your order history</a></p>
<p><a href="/account/email-preference">View your email pref</a></p>
<p><a href="/">back to home</a></p>