{{!-- 
    在這個資料夾中的才是實際下訂完成後跳轉到的網頁畫面 
 --}}
<p>Thank you for booking your trip with Meadowlark Travel,{{cart.billing.name}}!</p>
<p>
    Your reservation number is {{cart.number}}, and an email has been
    sent to {{cart.billing.email}} for your records.
</p>